<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hellobiz.mission">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".mission4.puttingtogether.page3.GroupDetailActivity"></activity>
        <activity android:name=".mission4.puttingtogether.page3.ClientDetailAcitivty" />
        <activity android:name=".mission4.puttingtogether.page2.BookActivity" />
        <activity android:name=".mission3.signup.DistributionSignUpActivity" />
        <activity android:name=".mission4.DistributionMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mission2.testpackage.TabTestActivty" />
        <activity android:name=".mission2.testpackage.TestActivity" />
        <activity android:name=".mission2.mainview.TruckActivity" />
        <activity android:name=".mission1.detailview.DetailViewActivity" />
        <activity android:name=".store_computerization.MainActivity" />
    </application>

</manifest>